@import url('https://fonts.googleapis.com/css?family=Raleway:700|Varela+Round');

body {
  background-image: url('../img/bg1.jpg');
  background-size: 100% auto;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.varela {
  font-family: 'Varela Round', sans-serif;
}

.btn {
  padding-right:
}

.txt-bg {
display: inline-block;
padding: 5px;
background-color: rgba(255, 255, 255, 0.5);
color: #000;
border-radius: 8px;
}
.linethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}


.userInput {
  border: 1px solid #bbb;
  height: 100px;
  border-radius: 4px;
}

.black-text {
  color: #000;
}

.white-text {
  color: #000;
}
.white-txt-black-bg {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.navlink {
  color: #fff;
  padding: 0px;
}

/* CONTAINER FLUID CSS */

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #000;
}


.todo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.done {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
}

.mr {
  margin-right: 10px;
}

.li-padding {
  padding: 5px;
}

ul li label {
  padding-right: 5px;
  font-size: 20px;
  /*text-shadow: 2px 2px #ddd;*/
}

.margin-side {
  margin-left: 5px;
  margin-right: 5px;
}

.done label {
  text-decoration: line-through;
}
