@import url('https://fonts.googleapis.com/css?family=Raleway:700|Varela+Round');

body {
  background-image: url('../img/bg.jpg');
  background-size: 100% auto;

}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.varela {
  font-family: 'Varela Round', sans-serif;
}


.linethrough {
  text-decoration: line-through;
}

.addbtn {
  padding: 5px;
}

.user-input {
  border: 1px solid #bbb;
  border-radius: 4px;
}

.black-text {
  color: #000;
}


.navlink {
  color: #fff;
}

.inc {/* todo list text background */
  background-color: rgba(0,0,0,.4);
  border-radius: 6px;
  color: #fff;
}
